.reward-community {
    height: 555px;

    &__container {
        display: flex;
        align-items: center;
        gap: 150px;
        .section-header {
            max-width: 583px;
            h2 {
                font-weight: bold;
                color: #FFFFFF;
            }
            p {
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                color: #E1E1E1;
            }
        }
        .community-twitter {
            position: relative;
            overflow: hidden;
            height: 550px;
            display: flex;
            gap: 30px;
            .community-twitter__posts {
                animation: twitterAnimation 5s linear infinite;
                top: 0;
                bottom: -50%;
                &:hover{
                    animation-play-state: paused;
                }
                &.revers{
                    animation: revers 5s linear infinite;
                }
                .community-twitter__post {
                    width: 338px;
                    padding: 20px;
                    background-color: #141414;
                    border-radius: 4px;
                    &:not(:last-child) {
                        margin-bottom: 30px;
                    }
                    .twitter-post__header {
                        display: flex;
                        gap: 10px;
                        .post-header__name {
                            h4 {
                                font-size: 16px;
                                line-height: 19px;
                                letter-spacing: -0.03em;
                                color: #FFFFFF;
                            }
                            small {
                                font-size: 14px;
                                line-height: 17px;
                                letter-spacing: -0.03em;
                                color: #8E8E8E;
                            }
                        }
                    }
                    .twitter-post__message {
                        margin: 20px 0;
                        p {
                            font-size: 16px;
                            line-height: 130%;
                            letter-spacing: -0.03em;
                            color: #B9B9B9;
                        }
                    }
                    .twitter-post__footer {
                        time {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: -0.03em;
                            color: #8E8E8E;
                        }
                        a {
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: -0.03em;
                            color: #2AA3EF;
                        }
                    }
                }
                @keyframes twitterAnimation {
                    0%{transform: translateY(100%)}
                    100%{transform: translateY(-100%)}
                }
                @keyframes revers {
                    100%{transform: translateY(100%)}
                    0%{transform: translateY(-100%)}
                }
            }

        }
        .section-header {
            max-width: 583px;
            h2 {
                color: #FFFFFF;
            }
            p {
                font-size: 16px;
                line-height: 24px;
                color: #E1E1E1;
            }
        }
    }
}

.reward-video {
    @include adaptiv-value('margin-bottom', 80, 50, 1);
    @include adaptiv-value('margin-top', 80, 50, 1);
}

.curator-feed {
    @include adaptiv-value('margin-bottom', 80, 50, 1);
}

// .insta-section {
//     @include adaptiv-value('margin-bottom', 80, 50, 1);
//     &__buttons {
//         margin-bottom: 30px;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         button {
//             font-weight: 500;
//             font-size: 16px;
//             position: relative;
//             color: #3C3C3C;
//             &:not(:last-child) {
//                 margin-right: 30px;
//             }
//             &::after {
//                 content: '';
//                 position: absolute;
//                 transition: .3s;
//                 width: 100%;
//                 height: 5px;
//                 background-color: #3C3C3C;
//                 left: 0;
//                 bottom: -15px;
//                 opacity: 0;
//             }
//             &.is-checked {
//                 &::after {
//                     bottom: -5px;
//                     opacity: 1;
//                 }
//             }
//         }
//     }
//     &__grid {
//         display: flex;
//         align-items: center;
//         flex-wrap: wrap;
//         gap: 30px;
//         .el {
//             width: 25%;
//             height: 200px;
//             &.vip {
//                 background-color: rebeccapurple;
//             }
//             &.exclusive {
//                 background-color: aqua;
//             }
//             &.events {
//                 background-color: blanchedalmond;
//             }
//             &.collectibles {
//                 background-color: mediumorchid;
//             }
//             &.merch {
//                 background-color: midnightblue;
//             }
//         }
//     }
// }
.crt-post-c.crt-post-border {
    width: 100%;
}

.crt-post .crt-post-header {
    margin: 0 !important;
}

.crt-post-text {
    background-color: #efefef;
}

.crt-post-share {
    display: none;
}