<div class="app-section">
    <div class="container app-section__container">
        <div class="download-buttons">
            <a href="#">
                <img src="img/google-play.png" alt="">
            </a>
            <a href="#">
                <img src="img/appstore.png" alt="">
            </a>
        </div>
        <div class="section-header">
            <h2>GET FC SHERIFF APPLICATION</h2>
            <p>Join thousands of fans from around the world that are influencing, playing and winning on the FC SHERIFF aplicatiion</p>
            <a class="btn-dark btn" href="#">Download Now</a>
        </div>
        <img src="img/app_img.png" alt="">
    </div>
</div>