<header class="header">
    <div class="container header-container">
        <button type="button" class="burger">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="header-logo">
            <a href="/">
                <img src="../img/logo.png" alt="logo">
            </a>
        </div>

        <nav class="navbar ">
            <ul class="navbar-list">
                <li class="navbar-list__item active"><a href="#">HOME</a></li>
                <li class="navbar-list__item"><a href="#">THE APP</a></li>
                <li class="navbar-list__item"><a href="#">REWARDS</a></li>
                <li class="navbar-list__item"><a href="#">ABOUT</a></li>
            </ul>
        </nav>

        <div class="header-controls">
            <div class="header-controls__languages languages">
                <span class="languages-current">
                    English
                    <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.66675 6.83341L8.00008 10.1667L11.3334 6.83341L4.66675 6.83341Z" fill="white" />
                    </svg>
                </span>
                <div class="languages-dropdown">
                    <a href="#">Russian</a>
                    <a href="#">Romanian</a>
                </div>
            </div>

            <div class="header-controls__button">
                <a class="btn btn-accent" href="#">Sign Up</a>
            </div>
        </div>
    </div>
</header>